<template>
  <Drawer :drawer="drawer" @confirm="submit" @close="close" ref="drawerDom">
    <el-form :model="form" :rules="rules" ref="ruleFormRef" label-width="120px" style="padding-right:10px;" class="edit">
      <el-form-item :rules="[ { required: true, message: '排序不能为空'} ]" label="排序" prop="sort">
          <el-input-number v-model="form.sort" :min="0" :max="100"></el-input-number>
      </el-form-item>
      <el-form-item label="照片">
          <el-upload
                  :class="{disabled:uploadDisabled}"
                  class="upload-demo floatLeft"
                  :action="UploadHost"
                  list-type="picture-card"
                  :file-list="fileListImg"
                  :on-success="uploadSuccess"
                  :before-upload="handleBeforeUpload"
                  :on-change="handleLimit"
                  :limit="1"
                  :multiple='false'>
          <template #default><i class="el-icon-plus"></i></template>
          <template #file="{file}">
              <div>
              <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
              <span class="el-upload-list__item-actions">
                  <span  class="el-upload-list__item-delete" ><i class="el-icon-delete" @click="(file)=>{handleRemove(file,idx)}"></i></span>
              </span>
              </div>
          </template>
          </el-upload>
      </el-form-item>
      <el-form-item label="所在位置" prop="type">
        <el-input autocomplete="off" clearable v-model="form.type"></el-input>
      </el-form-item>
      <el-form-item label="参数" prop="par">
        <el-input autocomplete="off" clearable v-model="form.par"></el-input>
      </el-form-item>
    </el-form>
  </Drawer>
</template>

<script lang="ts">
import type { Ref } from 'vue'
import { defineComponent, ref } from 'vue'
import { designBanner } from '@/api/table'
import Drawer from '@/components/drawer/index.vue'
import store from '@/store'
import { ossHost, uploadHost,bannerImg} from '@/views/common'
export default defineComponent({
  components: {
    Drawer
  },
  props: {
    drawer: {
      type: Object,
      default: () => {
        return {
          show: false,
          title: ''
        }
      }
    }
  },
  setup(props, ctx) {
    const ruleFormRef = ref(null) as any
    const drawerDom = ref(null) as any
    const UploadHost = ref(uploadHost())
    let imgdownload = ref(bannerImg())
    let fileListImg = ref([])
    let uploadDisabled = ref(false)
    const rules = {
      sort: [{ required: true, message: '排序不能为空', trigger: 'blur' }]
    }
    let form:any = ref({
      "id":0,
      "img_old":"",
      "img":"",
      "sort": 1,
      "type":"",
      "par":""}
    )

    init()
    function init() { // 用于判断新增还是编辑功能
      if (props.drawer.row) {
        let data:any = JSON.parse(JSON.stringify(props.drawer.row));
        console.log(form);
        
        data.img_old = data.img;
        let o:any = {
            name: '',
            url: data.img?(imgdownload.value+data.img):''
        };
        uploadDisabled.value = data.img?true:false;
        (fileListImg as any).value.push(o);
        data.sort = Number(data.sort);
        form.value = data;
      } else {
      }
    }

    const uploadSuccess = (res: any)=>{
        form.value.img = res.filename;
    }
    
    const handleBeforeUpload = (file: any)=>{
        const isJPG = file.type === "image/jpeg" || file.type === "image/png";
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          console.error('上传头像图片只能是 JPG 格式!');
        }
        if (!isLt2M) {
          console.error('上传头像图片大小不能超过 2MB!');
        }
        return isJPG && isLt2M;
    }
    const handleLimit = (file: any, fileList: any)=>{
        if (fileList.length >= 1) {
          uploadDisabled.value = true;
        }
    }

    const handleRemove = (file:any,idx:any)=>{
        form.value.img = ""
        fileListImg.value = [];
        uploadDisabled.value = false;
    }

    return {
      form,
      rules,
      drawerDom,
      ruleFormRef,
      uploadDisabled,
      UploadHost,
      imgdownload,
      fileListImg,
      uploadSuccess,
      handleBeforeUpload,
      handleLimit,
      handleRemove
    }
  },
  
  methods: {
    submit() {
      if (this.ruleFormRef) {
        console.log(this.form);
        this.ruleFormRef.validate((valid:any) => {
          if (valid) {
            let params = this.form
            this.updateForm(params)
          } else {
            return false;
          }
        });
      }
    },

    // 新增编辑
    updateForm(params: object) {
      console.log(params);
      // return
      designBanner(params).then(res => {
        if(res.success){
          (this as any).$message({type: 'success',message: '成功'})
          this.$emit('getTableData', false)
          this.drawerDom && this.drawerDom.close()
        }else{
          (this as any).$message({type: 'error',message: res.err||'失败'})
        }
      })
    }
  }
})
</script>

<style lang="scss" scoped>
  ::v-deep .el-form-item--mini .el-form-item__content{text-align: left;}
</style>