<template>
  <div class="layout-container">
    <div class="layout-container-form flex space-between">
      <div class="layout-container-form-handle">
        <el-button type="primary" icon="el-icon-circle-plus-outline" @click="handleAdd" :disabled="!pageAuthority.edit">{{ $t('message.common.add') }}</el-button>
        <el-popconfirm :title="$t('message.common.delTip')" @confirm="handleDel(chooseData)">
          <template #reference>
            <el-button type="danger" icon="el-icon-delete" :disabled="chooseData.length === 0||!pageAuthority.edit">{{ $t('message.common.delBat') }}</el-button>
          </template>
        </el-popconfirm>
      </div>
      <div class="layout-container-form-search">
      </div>
    </div>
    <div class="layout-container-table">
      <Table
        ref="table"
        v-model:page="page"
        v-loading="loading"
        :showIndex="true"
        :showSelection="true"
        :data="tableData"
        @getTableData="getTableData"
        @selection-change="handleSelectionChange">
          <el-table-column prop="sort" label="排序号"></el-table-column>
          <el-table-column prop="cover" label="图片" width="70">
            <template #default="props">
              <el-image style="width: 40px; height: 40px" fit="contain" :src="imgdownload + props.row.img" @click="previewImg(imgdownload + props.row.img)"></el-image>
            </template>
          </el-table-column>
          <el-table-column prop="type" label="所在位置"></el-table-column>
          <el-table-column prop="par" label="参数"></el-table-column>
          <el-table-column :label="$t('message.common.handle')" align="center" fixed="right" width="200">
            <template #default="scope">
              <el-button @click="handleEdit(scope.row)" :disabled="!pageAuthority.edit">{{ $t('message.common.update') }}</el-button>
              <el-popconfirm :title="$t('message.common.delTip')" @confirm="handleDel([scope.row])">
                <template #reference>
                  <el-button type="danger" :disabled="!pageAuthority.edit">{{ $t('message.common.del') }}</el-button>
                </template>
              </el-popconfirm>
            </template>
          </el-table-column>
      </Table>
      <drawer :drawer="drawer" @getTableData="getTableData" v-if="drawer.show" />
      <Layer :layer="layer" v-if="layer.show">
        <el-image style="width: 100%; height: auto" fit="contain" :src="layer.url"></el-image>
      </Layer>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive } from 'vue'
import Table from '@/components/table/index.vue'
import { Page } from '@/components/table/type'
import { getBannerList, delBanner } from '@/api/table'
import Drawer from './drawer.vue'
import { ElMessage } from 'element-plus'
import store from '@/store'
import { ossHost, uploadHost,bannerImg} from '@/views/common'
import Layer from '@/components/layer/index.vue'

export default defineComponent({
  name: 'banner',
  components: {
    Table,
    Drawer,
    Layer
  },
  setup() {
    // 存储搜索用的数据
    const query = reactive({
      key: ''
    })
    // 抽屉控制器
    const drawer: any = reactive({
      show: false,
      title: '新增'
    })
    //弹窗控制
    const layer:any = reactive({
      show: false,
      title: '预览',
      url: ''
    })
    // 分页参数, 供table使用
    const page: Page = reactive({
      index: 1,
      size: 10,
      total: 0
    })
    const loading = ref(true)
    const tableData = ref([])
    const chooseData = ref([])
    const pageAuthority = ref((store as any).state.user.authoritys.banner) //控制页面的权限菜单
    const imgdownload = ref(bannerImg())
    console.log(pageAuthority)
    
    const handleSelectionChange = (val: []) => {
      chooseData.value = val
    }
    // 获取表格数据
    // params <init> Boolean ，默认为false，用于判断是否需要初始化分页
    const getTableData = (init: boolean) => {
      loading.value = true
      if (init) {
        page.index = 1
      }
      let params = {
        currentpage: page.index,
        pageSize: page.size,
        ...query
      }
      getBannerList(params).then(res => {
        let data = res.msg.list
        tableData.value = res.msg.list
        page.total = Number(res.msg.count)
      }).catch(error => {
        tableData.value = []
        page.index = 1
        page.total = 0
      }).finally(() => {
        loading.value = false
      })
    }
    // 删除功能
    const handleDel = (data: object[]) => {
      let params = {
        id: data.map((e:any)=> {
          return e.id
        }).join(',')
      }
      delBanner(params).then(res => {
        ElMessage({type: 'success',message: '删除成功'})
        getTableData(tableData.value.length === 1 ? true : false)
      })
    }
    // 新增弹窗功能
    const handleAdd = () => {
      drawer.title = '新增数据'
      drawer.show = true
      delete drawer.row
    }
    // 编辑弹窗功能
    const handleEdit = (row: object) => {
      drawer.title = '编辑数据'
      drawer.row = row
      drawer.show = true
    }
    const previewImg = (url:any) => {
      console.log(url);
        if(url){
          layer.url = url
          layer.show = true
        }
    }

    getTableData(true)
    return {
      query,
      tableData,
      chooseData,
      loading,
      page,
      drawer,
      layer,
      imgdownload,
      handleSelectionChange,
      handleAdd,
      handleEdit,
      handleDel,
      getTableData,
      pageAuthority,
      previewImg
    }
  }
})
</script>

<style lang="scss" scoped>
  
</style>