<template>
  <div class="container">
    <div class="box">
      <h1>{{ $t(systemTitle) }}</h1>
      <el-form class="form">
        <el-input
          size="large"
          v-model="form.name"
          :placeholder="$t('message.system.userName')"
          type="text"
          maxlength="50"
        >
          <template #prepend>
            <i class="sfont system-xingmingyonghumingnicheng"></i>
          </template>
        </el-input>
        <el-input
          size="large"
          ref="password"
          v-model="form.password"
          :type="passwordType"
          :placeholder="$t('message.system.password')"
          name="password"
          maxlength="50"
        >
          <template #prepend>
            <i class="sfont system-mima"></i>
          </template>
          <template #append>
            <i class="sfont password-icon" :class="passwordType ? 'system-yanjing-guan': 'system-yanjing'" @click="passwordTypeChange"></i>
          </template>
        </el-input>
        <el-button type="primary" @click="submit" style="width: 100%;" size="medium">{{ $t('message.system.login') }}</el-button>
      </el-form>
      <div class="fixed-top-right">
        <select-lang />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { systemTitle } from '@/config'
import { defineComponent, ref, reactive } from 'vue'
import { useStore } from 'vuex'
import { useRouter, useRoute } from 'vue-router'
import { addRoutes } from '@/router'
import { ElMessage } from 'element-plus'
import selectLang from '@/layout/Header/functionList/word.vue'
import { getOrgList } from '@/api/table'
export default defineComponent({
  components: {
    selectLang
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    const route:any = useRoute()
    const form = reactive({
      name: 'admin',
      password: '123456'
    })
    const passwordType = ref('password')
    const passwordTypeChange = () => {
      passwordType.value === '' ? passwordType.value = 'password' : passwordType.value = ''
    }
    const checkForm = () => {
      return new Promise((resolve, reject) => {
        if (form.name === '') {
          ElMessage.warning({
            message: '用户名不能为空',
            type: 'warning'
          });
          return;
        }
        if (form.password === '') {
          ElMessage.warning({
            message: '密码不能为空',
            type: 'warning'
          })
          return;
        }
        resolve(true)
      })
    }
    const submit = () => {
      checkForm().then(() => {
        let params = {
          uname: form.name,
          pass: form.password,
          vcode: '1'
        }
        store.dispatch('user/login', params).then((res) => {
          ElMessage.success({
            message: '登录成功',
            type: 'success',
            showClose: true,
            duration: 1000
          })
          let menu:any = res.menu;
          let labels:any = {
              "系统设置": {path:'systemmanage',icon:'el-icon-setting'},
              "人员管理": {path:'usersmanage',icon:'el-icon-user'},
              "预警配置": {path:'warningmanage',icon:'el-icon-bell'},
              "房屋管理": {path:'housemanage',icon:'el-icon-house'},
              "车辆管理": {path:'carmanage',icon:'el-icon-van'},
              "党建管理": {path:'partybuildchmanage',icon:'el-icon-sunny'},
              "在线治理": {path:'securitymanage',icon:'el-icon-money'},
              "智慧物管": {path:'propertymanage',icon:'el-icon-magic-stick'},
              "智慧防疫": {path:'antiepidemicmanage',icon:'el-icon-first-aid-kit'},
              "惠民活动": {path:'activitymanage',icon:'el-icon-wind-power'},
              "文件": {path:'filemanage',icon:'el-icon-files'},
          }
          // 配置路由 参考
          console.log(menu);
          let d:any = [];
          menu.map((e:any)=>{
            const m:any = {
              path: `/${labels[e.label].path}`,
              meta: { title: `message.menu.${labels[e.label].path}.name`, icon: `${labels[e.label].icon||"el-icon-pie-chart"}` },
              children: []
            }
            let m_menu:any = e.sub||[];
            m_menu.map((ev:any)=>{
              if(ev.show){
                const m_:any = {
                    meta: { title: `message.menu.${labels[e.label].path}.${ev.component}`},
                    component: ev.component,
                    path: ev.component
                }
                m.children.push(m_);
              }
            })
            d.push(m);
          })
          // let data = [
          //   {
          //     path: '/echarts',
          //     meta: { title: '权限管理', icon: 'el-icon-pie-chart' },
          //     children: [
          //       {
          //         meta: { title: '菜单管理' },
          //         component: 'index',
          //         path: 'box456789'
          //       },
          //       {
          //         meta: { title: '角色管理' },
          //         component: 'index',
          //         path: 'box1'
          //       },
          //       {
          //         meta: { title: '用户管理' },
          //         component: 'index',
          //         path: 'box1456'
          //       },
          //     ]
          //   },
          // ]
          console.log(d);
          store.dispatch('user/setmenu', d);
          addRoutes();
          router.push(route.query.redirect || '/')

          //配置权限
          let authoritys:any = {};
          menu.map((item: any, index: number) => {
            if(item.label){
              item.routes = labels[item.label].path;
              item.routesIndex = index;
              let ars: any = [];
              item.sub.map((val: any) => {
                if (val.show&&val.label) {
                  ars.push(val);
                }
                // 这里是配置页面内权限
                authoritys[val.component] = {};
                if(val.sub.length>0&&val.sub){
                  val.sub.map((ev:any)=>{
                    authoritys[val.component][ev.component] = ev;
                  });
                }
              });
              item.sub = JSON.parse(JSON.stringify(ars));
              // if(item.sub.length>0){
              //   arr1.push(item);
              // }
            }
          });
          console.log(authoritys)
          store.dispatch('user/setauthority',authoritys);
          
          //获取组织结构
          getOrgList({}).then(res => {
            let list:any = JSON.parse(JSON.stringify(res.msg.list));
            let arr1:any = [];
            let arr2:any = [];
            list.map((e:any)=>{
                e.children = [],
                e.id.length===2?arr1.push(e):arr2.push(e);
            });
            arr2.map((e:any)=>{
                let v:any = e.id.substring(0,2);
                arr1.map((ev:any)=>{
                    if(ev.id===v){
                        let o:any = {
                            id: e.id,
                            name:e.name
                        }
                        ev.children.push(o);
                    }
                });
            });
            store.dispatch('user/setorg', arr1);
          })
        }).catch(err=>{
        })

      })
    }
    return {
      systemTitle,
      form,
      passwordType,
      passwordTypeChange,
      submit
    }
  }
})
</script>

<style lang="scss" scoped>
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #eef0f3;
    .box {
      width: 500px;
      position: absolute;
      left: 50%;
      top: 50%;
      background: white;
      border-radius: 8px;
      transform: translate(-50%, -50%);
      height: 440px;
      overflow: hidden;
      box-shadow: 0 6px 20px 5px rgba(152, 152, 152, 0.1), 0 16px 24px 2px rgba(117, 117, 117, 0.14);
      h1 {
        margin-top: 80px;
        text-align: center;
      }
      .form {
        width: 80%;
        margin: 50px auto 15px;
        .el-input {
          margin-bottom: 20px;
        }
        .password-icon {
          cursor: pointer;
          color: #409EFF;
        }
      }
      .fixed-top-right {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
  @media screen and ( max-width: 750px ) {
    .container .box {
      width: 100vw;
      height: 100vh;
      box-shadow: none;
      left: 0;
      top: 0;
      transform: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        margin-top: 0;
      }
      .form {
        
      }
    }
  }
</style>