<template>
  <Drawer :drawer="drawer" @confirm="submit" @close="close" ref="drawerDom">
    <el-form :model="form" :rules="rules" ref="ruleFormRef" label-width="120px" style="padding-right:10px;" class="edit">
      <el-form-item label="登录名" prop="uname">
          <el-input v-model="form.uname" autocomplete="off" clearable></el-input>
      </el-form-item>
      <el-form-item label="姓名" prop="name" size="small">
          <el-input v-model="form.name" autocomplete="off" clearable></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="pass" size="small">
          <el-input v-model="form.pass" autocomplete="off" clearable></el-input>
      </el-form-item>
      <el-form-item label="管理电话" prop="phone" size="small">
          <el-input v-model="form.phone" autocomplete="off" type="number" maxlength="11" clearable></el-input>
      </el-form-item>
      <el-form-item label="所属部门" prop="org_name">
          <el-cascader v-model="form.org_name" :options="orgList" :props="{value:'id',label:'name'}" autocomplete="off" clearable></el-cascader>
      </el-form-item>
      <el-form-item label="部门电话" prop="org_phone" size="small">
          <el-input v-model="form.org_phone" autocomplete="off" type="number" maxlength="11" clearable></el-input>
      </el-form-item>
      <el-form-item label="权限" class="checkboxgroup">
          <div v-for="(a,a_index) in form.authority" :key="a_index" class="authorityItem">
              <el-checkbox :indeterminate="a.isIndeterminate" v-model="a.checkAll"
                            @change="selectAllChange($event, a_index)">{{a.label}}
              </el-checkbox>
              <el-checkbox-group class="authorityGroup" v-model="a.dvalue"
                                  @change="selectChange($event, a_index)">
                  <el-checkbox v-for="(b,b_index) in a.sub" :key="b_index" :label="b">{{b.label}}
                  </el-checkbox>
              </el-checkbox-group>
          </div>
      </el-form-item>
    </el-form>
  </Drawer>
</template>

<script lang="ts">
import type { Ref } from 'vue'
import { defineComponent, ref } from 'vue'
import { getManageruser,designManager } from '@/api/table'
import Drawer from '@/components/drawer/index.vue'
import store from '@/store'
export default defineComponent({
  components: {
    Drawer
  },
  props: {
    drawer: {
      type: Object,
      default: () => {
        return {
          show: false,
          title: ''
        }
      }
    }
  },
  setup(props, ctx) {
    const ruleFormRef = ref(null) as any
    const drawerDom = ref(null) as any
    let orgList = ref([])
    let defaultAuthority = ref([])
    let form:any = ref({uname:'',name:'',pass:'',phone:'',org_name:'',org_phone:'',authority:[]})
    const rules = {
      uname: [{ required: true, message: '请输入登录名', trigger: 'blur' }],
      name: [{ required: true, message: '请输入姓名', trigger: 'blur' }]
    }

    init()
    function init() { // 用于判断新增还是编辑功能
      if (props.drawer.row) {
        // form.value = JSON.parse(JSON.stringify(props.layer.row)) // 数量量少的直接使用这个转
      } else {
      }
      orgList = JSON.parse(JSON.stringify((store as any).state.user.orgList))
    }
    
    var setorg = ()=>{
      const d: any = (store as any).state.user.info.menu;
      const arr: any = [];
      d.map((e: any) => {
          let sub: any = [];
          e.sub.forEach((t: any) => {
              sub.push({
                  label: t.label,
                  component: t.component,
                  show: t.show
                  //url:t.component+"/list",
              });
              t.sub.forEach((x: any) => {
                  sub.push({
                      label: x.label,
                      component: x.component,
                      show: t.show,
                      //url:t.component+"/"+x.component,
                      parent: t.component
                  })
              })
          });
          let obj: any = {
              label: e.label,
              sub: sub,
              checkAll: false,
              isIndeterminate: false,
              dvalue: []
          };
          arr.push(obj)
      });
      // console.log(arr)
      form.value.authority = arr;
      defaultAuthority.value = arr;
    }
    setorg()

    var get = (id:any) => {
      let params = {id: id}
      getManageruser(params).then(res => {
        form.value = JSON.parse(JSON.stringify(res.msg));

        let tmp_authority = res.msg.authority; //这是返回的用户的权限，先存起来
        let defaultA:any = defaultAuthority.value;
        // res.msg.authority = defaultA; //这样，才可以进行下面的循环
        //给权限赋值
        // console.log(defaultA)
        defaultA.forEach((x: any) => {
            //在t.data.msg.authority中找x.sub，有的话，存入x.dvalue
            x.sub.forEach((xs: any) => {
                tmp_authority.forEach((u: any) => {
                    u.sub.forEach((us: any) => {
                        if (us.component == xs.component && us.label == xs.label) {
                            x.dvalue.push(xs)
                        }
                        us.sub.forEach((uu: any) => {
                            if (uu.component == xs.component && uu.label == xs.label) {
                                x.dvalue.push(xs)
                            }
                        })
                    })
                })
            })
        });
        // console.log(defaultA)

        //最外围的全选显示问题
        defaultA.forEach((x: any) => {
            let checkedCount = x.dvalue.length;
            x.checkAll = checkedCount === x.sub.length;
            x.isIndeterminate = checkedCount > 0 && checkedCount < x.sub.length;
        });
        form.value.authority = defaultA;
      }).catch(error => {}).finally(() => {})
    }
    if(props.drawer.row){
      get(props.drawer.row.id)
    }

    return {
      form,
      rules,
      drawerDom,
      ruleFormRef,
      orgList
    }
  },
  
  methods: {
    selectAllChange(val: any, i: any) {
        (this as any).form.authority[i].dvalue = val ? (this as any).form.authority[i].sub : [];
        (this as any).form.authority[i].isIndeterminate = false;
    },
    selectChange(val: any, i: any) {
        let checkedCount = val.length;
        (this as any).form.authority[i].checkAll = checkedCount === (this as any).form.authority[i].sub.length;
        (this as any).form.authority[i].isIndeterminate = checkedCount > 0 && checkedCount < (this as any).form.authority[i].sub.length;
    },
    
    submit() {
      if (this.ruleFormRef) {
        console.log(this.form);
        this.ruleFormRef.validate((valid:any) => {
          if (valid) {
            let params = this.form
            this.updateForm(params)
          } else {
            return false;
          }
        });
      }
    },
    // 新增编辑
    updateForm(params: object) {
      let ary: any = [], flag: any = [];
      (this as any).form.authority.forEach((t: any) => {
          if (t.dvalue.length > 0) {
              let par: any = {label: t.label, component: "", sub: []};
              let tmp: any = {}
              t.dvalue.forEach((p: any) => {
                  let pc = p.parent || p.component;
                  if (tmp[pc]) { //有，这时实际要把子项往里放
                      if (p.parent) {
                          // delete p.parent
                          flag.push(p.parent + "/" + p.component)
                          tmp[pc].sub.push({label: p.label, component: p.component, show: p.show})
                          tmp[pc].show = p.show
                      } else {
                          flag.push(p.component + "/list")
                          tmp[pc].label = p.label
                          tmp[pc].show = p.show
                      }
                  } else { //没有，此时要新建
                      tmp[pc] = {sub: []};
                      tmp[pc].component = pc;
                      if (p.parent) {
                          // delete p.parent
                          flag.push(p.parent + "/" + p.component)
                          tmp[pc].sub.push({label: p.label, component: p.component, show: p.show})
                          tmp[pc].show = p.show
                      } else {
                          flag.push(p.component + "/list")
                          tmp[pc].label = p.label
                          tmp[pc].show = p.show
                      }
                  }
              });
              Object.values(tmp).forEach((p: any) => {
                  par.sub.push(p)
              });
              ary.push(par)
          }
      });
      console.log(ary);
      let data: any = {
          ...this.form,
      };
      
      if(this.drawer.row){
        data.id = this.drawer.row.id
      }
      let org_name:any = typeof data.org_name ==='object'?data.org_name[1]:data.org_name;
      data.org_name = org_name;
      data.authority = JSON.stringify(ary);
      data.flag = JSON.stringify(flag);
      data.area = '01';
      data.pass = data.pass?data.pass:'';
      
      // return;
      designManager(data).then(res => {
        if(res.success){
          (this as any).$message({type: 'success',message: '成功'})
          this.$emit('getTableData', false)
          this.drawerDom && this.drawerDom.close()
        }else{
          (this as any).$message({type: 'error',message: res.err||'失败'})
        }
      })
    }
  }
})
</script>

<style lang="scss" scoped>
  ::v-deep .el-form-item--mini .el-form-item__content{text-align: left;}
</style>