<template>
  <div class="layout-container">
    <div class="layout-container-form flex space-between">
      <div class="layout-container-form-handle">
        <el-button type="primary" icon="el-icon-circle-plus-outline" @click="handleAdd" :disabled="!pageAuthority.edit">{{ $t('message.common.add') }}</el-button>
        <el-popconfirm :title="$t('message.common.delTip')" @confirm="handleDel(chooseData)">
          <template #reference>
            <el-button type="danger" icon="el-icon-delete" :disabled="chooseData.length === 0||!pageAuthority.edit">{{ $t('message.common.delBat') }}</el-button>
          </template>
        </el-popconfirm>
      </div>
      <div class="layout-container-form-search">
        <el-input v-model="query.key" :placeholder="$t('message.common.searchTip')" @change="getTableData(true)" clearable></el-input>
        <el-button type="primary" icon="el-icon-search" class="search-btn" @click="getTableData(true)">{{ $t('message.common.search') }}</el-button>
      </div>
    </div>
    <div class="layout-container-table">
      <Table
        ref="table"
        v-model:page="page"
        v-loading="loading"
        :showIndex="true"
        :showSelection="true"
        :data="tableData"
        @getTableData="getTableData"
        @selection-change="handleSelectionChange">
          <el-table-column prop="uname" label="登录名" align="center" />
          <el-table-column prop="name" label="姓名" align="center" />
          <el-table-column prop="orgname" label="所属街道/社区">
              <template #default="scope"><span>{{scope.row.orgname||'柯桥街道'}}</span></template>
          </el-table-column>
          <el-table-column prop="loginnum" label="登录次数"></el-table-column>
          <el-table-column prop="last_login_time" label="最后登录时间"></el-table-column>
          <el-table-column :label="$t('message.common.handle')" align="center" fixed="right" width="200">
            <template #default="scope">
              <el-button @click="handleEdit(scope.row)" :disabled="!pageAuthority.edit">{{ $t('message.common.update') }}</el-button>
              <el-popconfirm :title="$t('message.common.delTip')" @confirm="handleDel([scope.row])" v-if="scope.row.id!='1'">
                <template #reference>
                  <el-button type="danger" :disabled="!pageAuthority.edit">{{ $t('message.common.del') }}</el-button>
                </template>
              </el-popconfirm>
            </template>
          </el-table-column>
      </Table>
      <drawer :drawer="drawer" @getTableData="getTableData" v-if="drawer.show" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive } from 'vue'
import Table from '@/components/table/index.vue'
import { Page } from '@/components/table/type'
import { getManagerList, delManager } from '@/api/table'
import Drawer from './drawer.vue'
import { ElMessage } from 'element-plus'
import store from '@/store'
export default defineComponent({
  name: 'manageruser',
  components: {
    Table,
    Drawer
  },
  setup() {
    // 存储搜索用的数据
    const query = reactive({
      key: ''
    })
    // 弹窗控制器
    const drawer: any = reactive({
      show: false,
      title: '新增'
    })
    // 分页参数, 供table使用
    const page: Page = reactive({
      index: 1,
      size: 10,
      total: 0
    })
    const loading = ref(true)
    const tableData = ref([])
    const chooseData = ref([])
    const pageAuthority = ref((store as any).state.user.authoritys.manageruser) //控制页面的权限菜单
    console.log(pageAuthority)
    
    const handleSelectionChange = (val: []) => {
      chooseData.value = val
    }
    // 获取表格数据
    // params <init> Boolean ，默认为false，用于判断是否需要初始化分页
    const getTableData = (init: boolean) => {
      loading.value = true
      if (init) {
        page.index = 1
      }
      let params = {
        currentpage: page.index,
        pageSize: page.size,
        ...query
      }
      getManagerList(params).then(res => {
        let data = res.msg.list
        tableData.value = res.msg.list
        page.total = Number(res.msg.count)
      }).catch(error => {
        tableData.value = []
        page.index = 1
        page.total = 0
      }).finally(() => {
        loading.value = false
      })
    }
    // 删除功能
    const handleDel = (data: object[]) => {
      let params = {
        id: data.map((e:any)=> {
          return e.id
        }).join(','),
        me:(store as any).state.user.info.id
      }
      delManager(params).then(res => {
        ElMessage({type: 'success',message: '删除成功'})
        getTableData(tableData.value.length === 1 ? true : false)
      })
    }
    // 新增弹窗功能
    const handleAdd = () => {
      drawer.title = '新增数据'
      drawer.show = true
      delete drawer.row
    }
    // 编辑弹窗功能
    const handleEdit = (row: object) => {
      drawer.title = '编辑数据'
      drawer.row = row
      drawer.show = true
    }
    getTableData(true)
    return {
      query,
      tableData,
      chooseData,
      loading,
      page,
      drawer,
      handleSelectionChange,
      handleAdd,
      handleEdit,
      handleDel,
      getTableData,
      pageAuthority
    }
  }
})
</script>

<style lang="scss" scoped>
  
</style>