<template>
  <Drawer :drawer="drawer" @confirm="submit" @close="close" ref="drawerDom">
    <el-form :model="form" :rules="rules" ref="ruleFormRef" label-width="120px" style="padding-right:10px;" class="edit">
        <el-form-item label="组织名称" prop="name">
          <el-input autocomplete="off" clearable v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="上级组织" prop="parent" v-if="!editParent">
            <el-select v-model="form.parent" placeholder="请选择" clearable>
                <el-option v-for="item in org_list" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
    </el-form>
  </Drawer>
</template>

<script lang="ts">
// 方法资源
import { defineComponent,reactive, ref } from 'vue'
import store from '@/store'
import { ElMessage } from 'element-plus'
import { ossHost, uploadHost,bannerImg} from '@/views/common'
// 组件
import Drawer from '@/components/drawer/index.vue'
// api
import { designOrg } from '@/api/table'

export default defineComponent({
  components: { Drawer },
  props: {
    drawer: {
      type: Object,
      default: () => {
        return {
          show: false,
          title: ''
        }
      }
    },
    orglist:{
      type: Array,
      default: () => {
        return []
      }
    },
  },
  setup(props, ctx) {
    const ruleFormRef = ref(null) as any
    const drawerDom = ref(null) as any
    const org_list= ref([]) as any
    const editParent = ref(false)
    
    const rules = {
      name: [{ required: true, message: '组织名称不能为空', trigger: 'blur' }]
    }
    let form:any = ref({
      "id":"",
      "parent":"",
      "name":""
    })

    init()
    function init() { // 用于判断新增还是编辑功能
      if (props.drawer.row) {
        let data:any = JSON.parse(JSON.stringify(props.drawer.row));
        form.value = data;
        form.value.parent = data.id.length===2?'':data.id.substring(0,2);
        
        editParent.value = !!props.drawer.row.id;
      }
      
      org_list.value = props.orglist||[];
      console.log(org_list.value);
    }

    return {
      form,
      rules,
      drawerDom,
      ruleFormRef,
      editParent,
      org_list
    }
  },
  
  methods: {
    submit() {
      if (this.ruleFormRef) {
        this.ruleFormRef.validate((valid:any) => {
          if (valid) {
            let params = this.form
            this.updateForm(params)
          } else {
            return false;
          }
        });
      }
    },

    // 新增编辑
    updateForm(params: object) {
      console.log(params);
      // return
      designOrg(params).then(res => {
        if(res.success){
          (this as any).$message({type: 'success',message: '成功'})
          this.$emit('getTableData', false)
          this.drawerDom && this.drawerDom.close()
        }else{
          (this as any).$message({type: 'error',message: res.err||'失败'})
        }
      })
    }
  }
})
</script>

<style lang="scss" scoped>
  ::v-deep .el-form-item--mini .el-form-item__content{text-align: left;}
</style>