<template>
  <div class="layout-container">
    <div class="layout-container-form flex space-between">
      <div class="layout-container-form-handle">
        <el-button type="primary" icon="el-icon-circle-plus-outline" @click="handleAdd" :disabled="!pageAuthority.edit">{{ $t('message.common.add') }}</el-button>
        <el-popconfirm :title="$t('message.common.delTip')" @confirm="handleDel(chooseData)">
          <template #reference>
            <el-button type="danger" icon="el-icon-delete" :disabled="chooseData.length === 0||!pageAuthority.edit">{{ $t('message.common.delBat') }}</el-button>
          </template>
        </el-popconfirm>
      </div>
      <div class="layout-container-form-search">
      </div>
    </div>
    <div class="layout-container-table">
      <Table ref="table" v-model:page="page" v-loading="loading" :showIndex="true" :showSelection="true" :data="tableData" @getTableData="getTableData" @selection-change="handleSelectionChange">
            <el-table-column type="expand">
                <template #default="props">
                    <el-table :data="props.row.children" style="width: 100%" class="tableBox" :height="auto">
                        <el-table-column prop="name" label="二级组织"></el-table-column>
                        <el-table-column prop="id" label="ID"></el-table-column>
                        <el-table-column :label="$t('message.common.handle')" align="center" fixed="right" width="200">
                          <template #default="scope">
                            <el-button @click="handleEdit(scope.row)" :disabled="!pageAuthority.edit">{{ $t('message.common.update') }}</el-button>
                            <el-popconfirm :title="$t('message.common.delTip')" @confirm="handleDel([scope.row])">
                              <template #reference>
                                <el-button type="danger" :disabled="!pageAuthority.edit">{{ $t('message.common.del') }}</el-button>
                              </template>
                            </el-popconfirm>
                          </template>
                        </el-table-column>
                    </el-table>
                </template>
            </el-table-column>
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="name" label="一级组织"></el-table-column>
            <el-table-column prop="id" label="ID"></el-table-column>
            <el-table-column :label="$t('message.common.handle')" align="center" fixed="right" width="200">
              <template #default="scope">
                <el-button @click="handleEdit(scope.row)" :disabled="!pageAuthority.edit">{{ $t('message.common.update') }}</el-button>
                <el-popconfirm :title="$t('message.common.delTip')" @confirm="handleDel([scope.row])">
                  <template #reference>
                    <el-button type="danger" :disabled="!pageAuthority.edit">{{ $t('message.common.del') }}</el-button>
                  </template>
                </el-popconfirm>
              </template>
            </el-table-column>
      </Table>
      <drawer :drawer="drawer" :orglist="tableData" @getTableData="getTableData" v-if="drawer.show" />
    </div>
  </div>
</template>

<script lang="ts">
// 方法资源
import { defineComponent, ref, reactive } from 'vue'
import store from '@/store'
import { ElMessage } from 'element-plus'
import { ossHost, uploadHost,bannerImg} from '@/views/common'
// 组件
import Table from '@/components/table/index.vue'
import Drawer from './drawer.vue'
// api
import { getOrgList, designOrg, delOrg } from '@/api/table'
// 类型
import { Page } from '@/components/table/type'
export default defineComponent({
  name: 'organization',
  components: { Table, Drawer},
  setup() {
    // 搜索参数
    const query = reactive({
      leave: "0",
      org_id: ""
    })
    // 分页参数
    const page: Page = reactive({
      index: 1,
      size: 100,
      total: 0
    })
    // 抽屉控制参数
    const drawer: any = reactive({
      show: false,
      title: '新增'
    })

    const loading = ref(true)
    const tableData = ref([])
    const chooseData = ref([])
    const pageAuthority = ref((store as any).state.user.authoritys.organization) //控制页面的权限菜单

    // 获取表格数据
    // params <init> Boolean ，默认为false，用于判断是否需要初始化分页
    const getTableData = (init: boolean) => {
      loading.value = true
      if (init) {
        page.index = 1
      }
      let params = {
        currentpage: page.index,
        pageSize: page.size,
        ...query
      }
      getOrgList(params).then(res => {
        let d = res;
        let list:any = JSON.parse(JSON.stringify(d.msg.list));
        let arr1:any = [];
        let arr2:any = [];
        list.map((e:any)=>{
            e.children = [],
            e.id.length===2?arr1.push(e):arr2.push(e);
        });
        arr2.map((e:any)=>{
            let v:any = e.id.substring(0,2);
            arr1.map((ev:any)=>{
                if(ev.id===v){
                    let o:any = {
                        id: e.id,
                        name:e.name
                    }
                    ev.children.push(o);
                }
            });
        });
        tableData.value = JSON.parse(JSON.stringify(arr1));
        page.total = Number(1)
      }).catch(error => {
        tableData.value = []
        page.index = 1
        page.total = 0
      }).finally(() => {
        loading.value = false
      })
    }
    getTableData(true)

    const handleSelectionChange = (val: []) => {
      chooseData.value = val
    }

    const handleAdd = () => {
      drawer.title = '新增数据'
      drawer.show = true
      delete drawer.row
    }
    // 编辑弹窗功能
    const handleEdit = (row: object) => {
      drawer.title = '编辑数据'
      drawer.row = row
      drawer.show = true
    }
    // 删除功能
    const handleDel = (data: object[]) => {
      let params = {
        id: data.map((e:any)=> {
          return e.id
        }).join(',')
      }
      delOrg(params).then(res => {
        ElMessage({type: 'success',message: '删除成功'})
        getTableData(tableData.value.length === 1 ? true : false)
      })
    }
    return {
      loading,
      page,
      drawer,
      tableData,
      chooseData,
      pageAuthority,
      getTableData,
      handleSelectionChange,
      handleAdd,
      handleEdit,
      handleDel,
    }
  }
})
</script>

<style lang="scss" scoped></style>