<template>
  <div>
    <el-drawer v-model="drawer.show" :title="drawer.title" direction="rtl" ref="eldrawer">
      <slot></slot>
      <div class="confirm-box">
        <el-button type="primary" @click="confirm">确认</el-button>
        <el-button @click="close">取消</el-button>
      </div>
    </el-drawer>
  </div>
</template>

<script lang="ts">
import type { Ref } from 'vue'
import { defineComponent, ref, watch } from 'vue'
export interface LayerInterface {
  show: boolean;
  title: string;
}
export default defineComponent({
  props: {
    drawer: {
      type: Object,
      default: () => {
        return {
          show: false,
          title: ''
        }
      },
      required: true
    }
  },
  setup(props, ctx) {
    const eldrawer = ref(null) as any
    function confirm() {
      ctx.emit('confirm')
    }
    function close() {
      eldrawer.value.handleClose()
      // ctx.emit('close')
    }
    return {
      eldrawer,
      confirm,
      close
    }
  }
})
</script>

<style lang="scss" scoped>
  .confirm-box{margin-top:25px;text-align: right;padding: 0 10px 20px;box-sizing: border-box;}
</style>