<template>
  <el-config-provider :locale="locale">
    <router-view></router-view>
  </el-config-provider>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import { useI18n } from 'vue-i18n'
export default defineComponent({
  name: 'App',
  setup() {
    const i18n = useI18n()
    const locale = computed(() => {
      return {
        name: i18n.locale.value,
        el: i18n.messages.value[i18n.locale.value].el
      }
    })
    return {
      locale
    }
  }
})
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100vh;
}

/* 常用样式类 */
.ml10 { margin-left: 10px !important; }
.ml20 { margin-left: 20px !important; }
.mr10 { margin-right: 10px !important; }
.mr20 { margin-right: 20px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mt10 { margin-top: 10px !important; }
.mt20 { margin-top: 20px !important; }

.pl10 { padding-left: 10px; box-sizing: border-box}
.pl20 { padding-left: 20px; box-sizing: border-box}
.pr10 { padding-right: 10px; box-sizing: border-box}
.pr20 { padding-right: 20px; box-sizing: border-box}
.pb10 { padding-bottom: 10px; box-sizing: border-box}
.pb20 { padding-bottom: 20px; box-sizing: border-box}
.pt10 { padding-top: 10px; box-sizing: border-box}
.pt20 { padding-top: 20px; box-sizing: border-box}
.pd10 { padding: 10px;box-sizing: border-box}
.pd20 { padding: 20px;box-sizing: border-box}

.flex-row { display: flex;flex-direction: row;}
.flex-row-center { @extend .flex-row;align-items: center;}
.flex-row-end { @extend .flex-row;align-items: center;justify-content: flex-end;}
.flex-column { display: flex;flex-direction: column;}
.flex-column-center { @extend .flex-column;align-items: center;}
.flex-center { display: flex;align-items: center;justify-content: center;}


.floatLeft { float: left; }
.floatRight { float: right; }

// 超出部分显示省略号 1行
.lineOne{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden; word-break: break-all; }
//-2行
.lineTwo{ text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all; }

/* // 右侧编辑-抽屉 */
.edit {
    height: calc(100vh - 150px); overflow-y: auto;
    .authorityItem { padding-bottom: 10px;box-sizing: border-box; line-height: 0; text-align: left; }
    .authorityGroup { padding-left: 25px;box-sizing: border-box; }
}
.el-overlay{
  overflow-y: auto !important;
}
// .el-upload--picture-card 控制加号部分
.disabled .el-upload--picture-card { display: none !important; }

// 表单内容部分
.tableBox { overflow-y: auto; flex: 1; width: calc(100% - 20px); margin: 0 auto; 
    .table { line-height: 35px; overflow: inherit; }
    thead,tbody{box-sizing: border-box;}
    th{border-top: solid 1px #ebeef5 !important}
    tr >th:nth-child(1),tr >td:nth-child(1){border-left: solid 1px #ebeef5 !important}
    td,th{border-right: solid 1px #ebeef5 !important}
    .pagin {}
}
</style>
