<template>
  <Drawer :drawer="drawer" @confirm="submit" @close="close" ref="drawerDom">
    <el-form :model="r_data.form" ref="ruleFormRef" label-width="120px" style="padding-right:10px;" class="edit">
        <el-form-item :rules="[ { required: true, message: '姓名不能为空'} ]" label="姓名" prop="name">
          <el-input autocomplete="off" clearable v-model="r_data.form.name"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择性别'} ]" label="性别" prop="sex">
          <el-radio-group v-model="r_data.form.sex">
              <el-radio :label="'1'">男</el-radio>
              <el-radio :label="'2'">女</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '出生年月不能为空'} ]" label="出生年月" prop="birthday">
          <el-date-picker v-model="r_data.form.birthday" type="date" value-format="YYYY-MM-DD" placeholder="选择出生年月"></el-date-picker>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '身份证号不能为空'} ]" label="身份证号" prop="idcard">
          <el-input autocomplete="off" maxlength="18" clearable v-model="r_data.form.idcard"></el-input>
        </el-form-item>
        <!-- <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="户口所在地" prop="household">
          <el-cascader v-model="r_data.form.household" :options="cityData"></el-cascader>
          <el-input autocomplete="off" clearable v-model="r_data.form.householdDetail"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="居住地" prop="address">
          <el-cascader v-model="r_data.form.address" :options="cityData"></el-cascader>
          <el-input autocomplete="off" clearable v-model="r_data.form.addressDetail"></el-input>
        </el-form-item> -->
        <el-form-item :rules="[ { required: true, message: '户口所在地不能为空'} ]" label="户口所在地" prop="household">
          <el-input autocomplete="off" maxlength="50" clearable v-model="r_data.form.household"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '居住地不能为空'} ]" label="居住地" prop="address">
          <el-input autocomplete="off" maxlength="50" clearable v-model="r_data.form.address"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择是否党员'} ]" label="党员" prop="isparty">
          <el-radio-group v-model="r_data.form.isparty">
              <el-radio :label="'1'">是</el-radio>
              <el-radio :label="'0'">否</el-radio>
          </el-radio-group>
        </el-form-item>
        <!-- <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="是否社工" prop="isworkers">
          <el-radio-group v-model="r_data.form.isworkers">
              <el-radio :label="'1'">是</el-radio>
              <el-radio :label="'0'">否</el-radio>
          </el-radio-group>
        </el-form-item> -->
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="身份" prop="isworkers">
          <el-select v-model="r_data.form.isworkers" placeholder="请选择" clearable>
              <el-option v-for="item in r_data.isworkersType" :key="item.id" :label="item.title" :value="item.id">
              </el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="r_data.form.isworkers!='0'" :rules="[ { required: true, message: '请选择'} ]" label="等级" prop="leave">
          <el-select v-model="r_data.form.leave" placeholder="请选择" clearable>
              <el-option v-for="item in r_data.leaves[r_data.form.isworkers]" :key="item.id" :label="item.title" :value="item.id">
              </el-option>
          </el-select>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择所属部门'} ]" label="所属部门" prop="org_id">
          <el-cascader v-model="r_data.form.org_id" :options="r_data.orgList" :props="{value:'id',label:'name'}" clearable class="floatLeft"></el-cascader>
        </el-form-item>
        <el-form-item v-if="r_data.form.isworkers!='0'" label="职务" prop="jobtitle">
          <el-input autocomplete="off" clearable v-model="r_data.form.jobtitle"></el-input>
        </el-form-item>
        <el-form-item label="照片">
            <el-upload
                    :class="{disabled:uploadDisabled}"
                    class="upload-demo floatLeft"
                    :action="r_data.uploadHost"
                    list-type="picture-card"
                    :file-list="r_data.fileListImg"
                    :on-success="uploadSuccess"
                    :before-upload="handleBeforeUpload"
                    :on-change="handleLimit"
                    :limit="1"
                    :multiple='false'>
            <template #default><i class="el-icon-plus"></i></template>
            <template #file="{file}">
                <div>
                <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
                <span class="el-upload-list__item-actions">
                    <span  class="el-upload-list__item-delete" ><i class="el-icon-delete" @click="(file)=>{handleRemove(file,idx)}"></i></span>
                </span>
                </div>
            </template>
            </el-upload>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '联系电话不能为空'} ]" label="联系电话" prop="mobile">
          <el-input autocomplete="off" type="number" maxlength="11" clearable v-model="r_data.form.mobile"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="人口类别" prop="type">
          <el-radio-group v-model="r_data.form.type">
              <el-radio :label="'0'">常驻人口</el-radio>
              <el-radio :label="'1'">流动人口</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="类别备注" prop="typemsg">
          <el-input autocomplete="off" maxlength="15" clearable v-model="r_data.form.typemsg" placeholder="如：新生儿、学生、高层次人才引进等"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="重点人口" prop="ispoint">
          <el-radio-group v-model="r_data.form.ispoint">
              <el-radio :label="'1'">是</el-radio>
              <el-radio :label="'0'">不是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="是否独居" prop="alone">
          <el-radio-group v-model="r_data.form.alone">
              <el-radio :label="'1'">是</el-radio>
              <el-radio :label="'0'">不是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="状态" prop="state">
          <el-radio-group v-model="r_data.form.state">
              <el-radio :label="'1'">正常</el-radio>
              <el-radio :label="'0'">停用</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="状态备注" prop="statemsg">
          <el-input autocomplete="off" maxlength="15" clearable v-model="r_data.form.statemsg" placeholder="如：已逝、迁出、流出等"></el-input>
        </el-form-item>
    </el-form>
  </Drawer>
</template>

<script lang="ts">
// 方法资源
import { defineComponent,reactive, ref } from 'vue'
import store from '@/store'
import { ElMessage } from 'element-plus'
import { ossHost, uploadHost,usersrImg,isworkersType,leaves} from '@/views/common'
// 组件
import Drawer from '@/components/drawer/index.vue'
// api
import { getUsers, designUsers } from '@/api/table'

export default defineComponent({
  components: { Drawer },
  props: {
    drawer: {
      type: Object,
      default: () => {
        return {
          show: false,
          title: ''
        }
      }
    }
  },
  setup(props, ctx) {
    const ruleFormRef = ref(null) as any
    const drawerDom = ref(null) as any
    const uploadDisabled = ref(false)

    const r_data:any = reactive({
      uploadHost: uploadHost(),
      imgdownload: usersrImg(),
      fileListImg: [],
      isworkersType_:isworkersType(),
      leaves: leaves(),
      orgList: JSON.parse(JSON.stringify((store as any).state.user.orgList)),
      form:{
        "id":"0",
        "cover_old":"",
        "cover":"",
        "name":"",
        "idcard": "",
        "mobile":"",
        "birthday":"",
        "sex": '1',
        "isworkers": '1',
        "leave": '0',
        "isparty": '1',
        "address": "",
        "household": "",
        "org_id":"",
        "jobtitle":"",
        "state":"1",
        "statemsg": "",
        "type":"0",
        "typemsg":"",
        "ispoint":"1",
        "alone":"0"
      }}
    )

    const uploadSuccess = (res: any)=>{
        r_data.form.cover = res.filename;
        console.log(r_data.form);
        
    }
    
    const handleBeforeUpload = (file: any)=>{
        const isJPG = file.type === "image/jpeg" || file.type === "image/png";
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          console.error('上传头像图片只能是 JPG 格式!');
        }
        if (!isLt2M) {
          console.error('上传头像图片大小不能超过 2MB!');
        }
        return isJPG && isLt2M;
    }
    const handleLimit = (file: any, fileList: any)=>{
        if (fileList.length >= 1) {
          uploadDisabled.value = true;
        }
    }

    const handleRemove = (file:any,idx:any)=>{
        r_data.form.cover = ""
        r_data.fileListImg = [];
        uploadDisabled.value = false;
    }

    function init() {
      if (props.drawer.row) {
        getUsers({id:props.drawer.row.id}).then((res:any)=>{
          let data:any = JSON.parse(JSON.stringify(res.msg));
          data.cover_old = data.cover;
          let o:any = {
            name: '',
            url: data.cover?(r_data.imgdownload+data.cover):''
          };
          uploadDisabled.value = data.cover?true:false;
          data.cover?r_data.fileListImg.push(o):[];
          r_data.form = data;
        })
      }
    }
    init()

    return {
      r_data,
      drawerDom,
      ruleFormRef,
      uploadDisabled,
      uploadSuccess,
      handleBeforeUpload,
      handleLimit,
      handleRemove
    }
  },
  
  methods: {
    submit() {
      if (this.ruleFormRef) {
        this.ruleFormRef.validate((valid:any) => {
          if (valid) {
            let params = this.r_data.form
            params.id = this.r_data.form.id?this.r_data.form.id:'0';
            let org_id:any = typeof params.org_id ==='object'?params.org_id[1]:params.org_id;
            params.org_id = org_id;
            this.updateForm(params)
          } else {
            return false;
          }
        });
      }
    },
    // 新增编辑
    updateForm(params: object) {
      console.log(params);
      return;
      designUsers(params).then((res:any) => {
        if(res.success){
          (this as any).$message({type: 'success',message: '成功'})
          this.$emit('getTableData', false)
          this.drawerDom && this.drawerDom.close()
        }else{
          (this as any).$message({type: 'error',message: res.err||'失败'})
        }
      })
    }
  }
})
</script>

<style lang="scss" scoped>
  ::v-deep .el-form-item--mini .el-form-item__content{text-align: left;}
</style>