<template>
  <div class="layout-container">
    <div class="layout-container-form flex space-between">
      <div class="layout-container-form-handle">
        <el-button type="primary" icon="el-icon-circle-plus-outline" @click="handleAdd" :disabled="!r_data.pageAuthority.edit">{{ $t('message.common.add') }}</el-button>
        <!-- <el-popconfirm :title="$t('message.common.delTip')" @confirm="handleDel(chooseData)">
          <template #reference>
            <el-button type="danger" icon="el-icon-delete" :disabled="chooseData.length === 0||!r_data.pageAuthority.edit">{{ $t('message.common.delBat') }}</el-button>
          </template>
        </el-popconfirm> -->
      </div>
      <div class="layout-container-form-search">
        <el-input v-model="r_data.query.key" placeholder="请输入姓名/手机号/身份证号" @change="getTableData(true)" clearable class="mr10" style="width: 300px;"></el-input>
        <el-select v-model="r_data.query.isworkers" placeholder="用户身份" clearable class="mr10">
            <el-option v-for="item in r_data.isworkersType_" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-select v-model="r_data.query.state" placeholder="用户状态" clearable class="mr10">
            <el-option v-for="item in r_data.states_" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-select v-model="r_data.query.type" placeholder="是否常驻" clearable class="mr10">
            <el-option v-for="item in r_data.types_" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-select v-model="r_data.query.ispoint" placeholder="是否重点" clearable class="mr10">
            <el-option v-for="item in r_data.ispoints_" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-select v-model="r_data.query.alone" placeholder="是否独居" clearable>
            <el-option v-for="item in r_data.alones_" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-button type="primary" icon="el-icon-search" class="search-btn" @click="getTableData(true)">{{ $t('message.common.search') }}</el-button>
      </div>
    </div>
    <div class="layout-container-table">
      <Table ref="table" v-model:page="r_data.page" v-loading="loading" :showIndex="true" :showSelection="true" :data="tableData" @getTableData="getTableData" @selection-change="handleSelectionChange">
            <el-table-column prop="name" label="姓名"></el-table-column>
            <el-table-column prop="id" label="ID"></el-table-column>
            <el-table-column prop="fullname" label="社区部门"></el-table-column>
            <el-table-column prop="cover" label="照片" width="70">
              <template #default="props">
                <el-image style="width: 40px; height: 40px" fit="contain" :src="r_data.imgdownload + props.row.cover" @click="previewImg(r_data.imgdownload + props.row.cover)"></el-image>
              </template>
            </el-table-column>
            <el-table-column prop="cover" label="人脸识别信息" width="120">
              <template #default="props">
                <el-image style="width: 40px; height: 40px" fit="contain" :src="r_data.imgdownload + props.row.face" @click="previewImg(r_data.imgdownload + props.row.face)"></el-image>
              </template>
            </el-table-column>
            <el-table-column label="编辑人脸信息"  width="190">
                <template #default="scope">
                    <el-button size="mini" @click="showFeceDrawer(scope.row)" :disabled="!r_data.pageAuthority.face">{{!scope.row.face?'上传':'编辑'}}人脸</el-button>
                    <el-popconfirm
                            confirmButtonText='好的'
                            cancelButtonText='不用了'
                            @confirm="deleteFace(scope.row)"
                            icon="el-icon-info"
                            iconColor="red"
                            title="确定删除人脸信息吗？">
                        <template #reference>
                          <el-button size="mini" type="danger" plain :disabled="!scope.row.face||!r_data.pageAuthority.delface">删除</el-button>
                        </template>
                    </el-popconfirm>
                </template>
            </el-table-column>
            <el-table-column prop="sex" label="性别" width="60">
              <template #default="props"><span>{{props.row.sex=='1'?'男':'女'}}</span></template>
            </el-table-column>
            <!-- <el-table-column prop="birthday" label="生日" width="100"></el-table-column> -->
            <el-table-column prop="mobile" label="联系电话" width="120"></el-table-column>
            <!-- <el-table-column prop="jobtitle" label="职务" width="100"></el-table-column> -->
            <el-table-column prop="isparty" label="是否入党" width="120">
              <template #default="props"><span>{{props.row.isparty=='1'?'是':'否'}}</span></template>
            </el-table-column>
            <el-table-column prop="ispoint" label="重点人员" width="120">
              <template #default="props"><span>{{props.row.ispoint==='1'?'重点':'非重点'}}</span></template>
            </el-table-column>
            <el-table-column prop="type" label="常驻/流动" width="120">
              <template #default="props"><span>{{props.row.type==='1'?'流动人口':'常驻人口'}}</span></template>
            </el-table-column>
            <el-table-column prop="alone" label="是否独居" width="120">
              <template #default="props"><span>{{props.row.alone==='1'?'是':'不是'}}</span></template>
            </el-table-column>
            <!-- <el-table-column prop="isworkers" label="身份" width="60">
              <template #default="props"><span>{{isworkersType[props.row.isworkers].title||''}}</span></template>
            </el-table-column> -->
            <!-- <el-table-column prop="leave" label="等级" width="120">
              <template #default="props">
                <span v-if="props.row.isworkers==='0'">{{leaves['0'][0].title||''}}</span>
                <span v-else-if="props.row.isworkers==='1'">{{leaves['1'][props.row.leave].title||''}}</span>
                <span v-else-if="props.row.isworkers==='2'">{{leaves['2'][props.row.leave-1].title||''}}</span>
              </template>
            </el-table-column> -->
            <el-table-column prop="state" label="状态" width="150">
              <template #default="props">
                <el-switch v-model="props.row.state" active-color="#13ce66" active-text="正常" active-value="1" inactive-color="#ff4949" inactive-text="停用" inactive-value="0" @change="setState(props.$index,props.row)"></el-switch>
              </template>
            </el-table-column>
            <el-table-column :label="$t('message.common.handle')" align="center" fixed="right" width="120">
              <template #default="props">
                <el-button @click="handleEdit(props.row)" :disabled="!r_data.pageAuthority.edit">{{ $t('message.common.update') }}</el-button>
              </template>
            </el-table-column>
      </Table>
      <drawer :drawer="r_data.drawer" :orglist="tableData" @getTableData="getTableData" v-if="r_data.drawer.show" />
      <Layer :layer="r_data.layer" v-if="r_data.layer.show" ref="layerForm">
        <!-- 预览图片 -->
        <el-image v-if="r_data.layer.type==='preview'" style="width: 100%; height: auto" fit="contain" :src="r_data.layer.url"></el-image>
        <!-- 设置状态 -->
        <div v-else-if="r_data.layer.type==='state'">
          <el-input v-model="r_data.userState.statemsg" placeholder="如：已逝、迁出、流出等"></el-input>
          <div style="margin-top:10px;">
              <el-button @click="()=>{layerForm.close();}">取 消</el-button>
              <el-button type="primary" @click="delsetState">确 定</el-button>
          </div>
        </div>
        <!-- 上传人脸 -->
        <div v-else-if="r_data.layer.type==='upface'">
          <el-upload
                  :class="{disabled:uploadDisabledFace}"
                  class="upload-demo"
                  :action="r_data.uploadHost"
                  list-type="picture-card"
                  :file-list="fileListImgFace"
                  :on-success="uploadSuccessFace"
                  :before-upload="handleBeforeUploadFace"
                  :on-change="handleLimitFace"
                  :limit="1"
                  :multiple='false'>
            <template #default><i class="el-icon-plus"></i></template>
            <template #file="{file}">
                <div>
                <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
                <span class="el-upload-list__item-actions">
                    <span  class="el-upload-list__item-delete" ><i class="el-icon-delete" @click="(file)=>{handleRemoveFace(file,idx)}"></i></span>
                </span>
                </div>
            </template>
          </el-upload>
          <div style="margin:10px 0">备注：上传照片大小限制在10~200kb之间且只能上传jpg格式人脸照片。</div>
          <el-button @click="()=>{layerForm.close();}">取 消</el-button>
          <el-button type="primary" @click="upFace" :disabled="!r_data.faceD.face">确 定</el-button>
        </div>
      </Layer>
    </div>
  </div>
</template>

<script lang="ts">
// 方法资源
import { defineComponent, ref, reactive, watch } from 'vue'
import store from '@/store'
import { ElMessage } from 'element-plus'
import { ossHost, uploadHost,usersrImg,isworkersType} from '@/views/common'
// 组件
import Table from '@/components/table/index.vue'
import Drawer from './drawer.vue'
import Layer from '@/components/layer/index.vue'
// api
import { getUsersList, delUsers, upUsersFace, delUsersFace } from '@/api/table'
// 类型
import { Page } from '@/components/table/type'
export default defineComponent({
  name: 'organization',
  components: { Table, Drawer, Layer},
  setup() {
    const r_data = reactive({
      imgdownload:usersrImg(),
      uploadHost:uploadHost(),
      //控制页面的权限菜单
      pageAuthority:(store as any).state.user.authoritys.users,
      // 搜索参数
      query:{
        key: '',
        isworkers: '',
        state: '',
        type: '',
        ispoint: '',
        alone: '',
      },
      // 分页参数
      page:{
        index: 1,
        size: 10,
        total: 0
      },
      // 抽屉控制
      drawer:{
        show: false,
        row: {},
        title: '新增'
      },
      // 弹窗控制
      layer:{
        type: '',
        show: false,
        title: '预览',
        url: ''
      },
      // 人脸信息
      faceD: {
        "id":"",
        "name":"",
        "face":"",
        "face_old":""
      },
      // 用户状态
      userState:{
        "id":"",
        "state":"",
        "statemsg":""
      },
      isworkersType_:isworkersType(),
      states_:[
        {id: '0', title: '停用'},
        {id: '1', title: '正常'},
      ],
      types_:[
        {id: '0', title: '常驻人口'},
        {id: '1', title: '流动人口'},
      ],
      ispoints_:[
        {id: '0', title: '非重点'},
        {id: '1', title: '重点'},
      ],
      alones_:[
        {id: '0', title: '不是'},
        {id: '1', title: '是'},
      ]
    }) as any

    const uploadDisabledFace = ref(false)
    const fileListImgFace = ref([]) as any
    
    const stateIdx = ref(-1)
    const setStatesuccess = ref(false)

    const loading = ref(true)
    const tableData = ref([]) as any
    const chooseData = ref([]) as any
    const layerForm = ref(null) as any

    // 获取表格数据
    const getTableData = (init: boolean) => {
      loading.value = true
      if (init) {
        r_data.page.index = 1
      }
      let params = {
        currentpage: r_data.page.index,
        pagesize: r_data.page.size,
        ...r_data.query
      }
      getUsersList(params).then((res:any) => {
        console.log(res);
        
        let d = res;
        let da = JSON.parse(JSON.stringify(d.msg.list));
        da.map((item:any)=>{
          if(item.state == '1'){
            item.stateFlag = true
          }else{
            item.stateFlag = false
          }
        })
        tableData.value = JSON.parse(JSON.stringify(da));
        r_data.page.total = Number(d.msg.count)
      }).catch(error => {
        tableData.value = []
        r_data.page.index = 1
        r_data.page.total = 0
      }).finally(() => {
        loading.value = false
      })
    }
    getTableData(true)

    const handleSelectionChange = (val: []) => {
      chooseData.value = val
    }

    const handleAdd = () => {
      r_data.drawer.title = '新增数据'
      r_data.drawer.show = true
      delete r_data.drawer.row
    }
    // 编辑弹窗功能
    const handleEdit = (row: object) => {
      r_data.drawer.title = '编辑数据'
      r_data.drawer.row = row
      r_data.drawer.show = true
    }

    // 设置用户状态
    const setState = (index: number, row: any)=>{
      r_data.userState.id = row.id;
      r_data.userState.state = row.state||'0';
      stateIdx.value = index;
      r_data.layer.title = '更改用户状态'
      r_data.layer.type = 'state'
      r_data.layer.show = true
      setStatesuccess.value = false;
    }

    const delsetState = ()=>{
      if(!r_data.userState.statemsg){
        ElMessage({type: 'error',message: '请填写状态变更备注'})
        return
      }
      // console.log(r_data.userState);
      // return
      delUsers(r_data.userState).then((res:any)=>{
        // console.log(res);
        if (res.success) {
            setStatesuccess.value = true;
            ElMessage({type: 'success',message: '成功'})
            getTableData(tableData.value.length === 1 ? true : false)
            layerForm.value.close();
        }else{
          ElMessage({type: 'error',message: res.err})
        }
      })
    }
    
    const showFeceDrawer = (row: any = undefined)=>{
      if(row.id){
        r_data.faceD.id = row.id;
        r_data.faceD.name = row.name;
        r_data.faceD.face_old = row.face;
        r_data.layer.title = '上传人脸'
        r_data.layer.type = 'upface'
        r_data.layer.show = true
      }
    }
    const uploadSuccessFace = (res: any)=>{
      r_data.faceD.face = res.filename;
    }
    const handleBeforeUploadFace = (file: any)=>{
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 < 200 && file.size / 1024 > 10;

      if (!isJPG) {
        (this as any).$message.error('上传头像图片只能是 JPG 格式!');
      }
      if (!isLt2M) {
        (this as any).$message.error('上传头像图片大小限制在10~200kb之间!');
      }
      return isJPG && isLt2M;
    }
    const handleLimitFace = (file: any, fileList: any)=>{
      if (fileList.length >= 1) {
        uploadDisabledFace.value = true;
      }
    }
    const handleRemoveFace = ()=>{
      r_data.faceD.face = ""
      fileListImgFace.value = [];
      uploadDisabledFace.value = false;
    }
    const upFace = ()=>{
      upUsersFace(r_data.faceD).then((res:any)=>{
        // console.log(res);
        if (res.success) {
            ElMessage({type: 'success',message: '成功'})
            getTableData(tableData.value.length === 1 ? true : false)
            layerForm.value.close();
        }else{
          ElMessage({type: 'error',message: res.err})
        }
      })
    }
    
    watch(layerForm, (newvalue, oldvalue) => {
      if(!newvalue){
        if(r_data.layer.type==='state'){
          if(!setStatesuccess.value){
            const s = tableData.value[stateIdx.value].state;
            tableData.value[stateIdx.value].state = s==='0'?'1':'0';
          }
          r_data.userState = {
            "id":"",
            "state":"",
            "statemsg":""
          }
        }else if(r_data.layer.type==='upface'){
          r_data.faceD = {
            "id":"",
            "name":"",
            "face":"",
            "face_old":""
          }
          fileListImgFace.value = []
          uploadDisabledFace.value = false;
        }
      }
    })
    return {
      r_data,
      loading,
      tableData,
      chooseData,
      stateIdx,
      setStatesuccess,
      layerForm,
      uploadDisabledFace,
      fileListImgFace,
      setState,
      delsetState,
      getTableData,
      handleSelectionChange,
      handleAdd,
      handleEdit,
      upFace,
      showFeceDrawer,
      uploadSuccessFace,
      handleBeforeUploadFace,
      handleLimitFace,
      handleRemoveFace
    }
  }
})
</script>

<style lang="scss" scoped></style>