<template>
  <div class="box">
    巡逻记录
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({

})
</script>

<style lang="scss" scoped>
  .box {
    padding: 15px;
  }
</style>